.introImage{
    height: 75vh;
    width: 40vw;
}
.introImage img{
    height: 75vh;
    width: 40vw;
}
.intro{
    height: 60vh;
    background-color: rgba(27, 26, 26, 0.5);
   
    width: 60%;
    position: absolute;
    margin-left: 30vw;
}
.intro span{
    color: white;
    font-size: 22px;
    font-weight: 500;
    line-height: 35px;
}
.ourintro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:960px) {
    .ourintro{
        display: flex;
        flex-direction: column;
    }
    .intro{
        position: relative;
        width: 80%;
        margin-top: -50vh;
        margin-left: 10px;
        height: fit-content;

    }
    .intro span{
        color: white;
        font-size: 12px;
        font-weight: 500;
        line-height: 25px;
    }
    
}