
.homepage-cover{
    background-image: url('../../Assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav{
    margin-top: 5vh; 
    width: 100%;
    
}
.welcome{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.welcome-text{
    display: flex;
    flex-direction: column;
width: 50%;
background-color: rgba(20, 0, 20, 0.5);
}
.welcome span{
    font-size: 32px;
    font-weight: 700;
    color: white;

}
.button{
    position: absolute;
    bottom: 20vh; 
  left: 50%;
  transform: translateX(-50%);
}